/* reset CSS */
/* common */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.text-white {
    color: #fff !important;
}

.align-center {
    text-align: center !important;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

.pull-right {
    float: right !important;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px !important; 
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;

}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.3333333%;
}

/*  */
#header {
    position: fixed;
    z-index: 1;
    top: 0%;
    right: 0;
    left: 0;
    height: 46px;
    background-color: #000;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav  li:hover  .subnav {
    display: block;
}

#nav > li {
    display: inline-block;
    position: relative;

}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    display: inline-block;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}

#nav > li:hover > a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    top: 100%;
    left: 0%;
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) ;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(/w3school/assets/img/slider/chicago.jpg) top center / cover no-repeat ;

}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    width: 100%;
    text-align: center;
    color: #fff;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-decoration {
    font-size: 15px;
    margin-top: 25px;
}

#content {

}

.content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 16px 112px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 500;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
    margin-bottom: 24px;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .members-list {
    margin-top: 32px;
}

#content .member-name {
    font-size: 15px;
}

#content .member-avatar {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

#content .clear {
    clear: both;
}

/* tour section */
.tour-section {
    background-color: #000;
}

.tickes-list {
    background-color: #fff;
    list-style-type: none;
}

.tickes-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px #ddd solid;
}

.tickes-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickes-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    margin-top: -3px;
    line-height: 24px;
}

.places-list {
    margin-top: 16px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.7;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    opacity: 0.5;
}

.place-desc {
    margin-top: 15px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}

.modal-comtainer {
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-16px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease .6s;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
}

.modal-close:hover {
    cursor: pointer;
    opacity: 0.7;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 30px;
    color: white;
}

.modal-header-icon {
    margin-right: 16px;
}

.modal-body {
    padding: 16px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 10px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

#buy-tickets {
    background-color: #009688;
    border: none;
    color: white;
    font-size: 15px;
    width: 100%;
    padding: 18px;
    text-transform: uppercase;
}

#buy-tickets:hover {
    cursor: pointer;
    opacity: 0.8;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-help {

}

.modal-footer a {
    color: #2196F3;
}

/* contact form */
.contact-content {
    margin-top: 48px;
}

.contact-infor {
    font-size: 18px;
    line-height: 1.5;
}

.contact-infor i {
    width: 30px;
    display: inline-block;
}

.contact-infor a {
    color: #101aef;
    opacity: 0.7;
}

.contact-infor a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.map-section img {
    width: 100%;
}

/* footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    text-decoration: none;
    color: rgba(0,0,0,0.5);
}

#footer .social-list a:hover {
    cursor: pointer;
    opacity: 0.6;
}

#footer .coppy-right {
    margin-top: 15px;
    color: rgba(0,0,0,0.5);

}

#footer .coppy-right a {
    color: rgba(0,0,0,0.5);
}

@keyframes modalFadeIn {
    from {
        opacity: 0.5;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}